body {
    margin: 0;
}

.app {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}

.main {
    flex: 0 1 auto;
    overflow: auto;
}

.bar {
    background: #eceff1;
    border-top: 2px solid black;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    margin-top: auto;
    padding: 1rem 10rem 1rem 2rem;
    position: relative;
}

.entry-wrapper {
    display: inline-block;
    margin: 0 auto;
}

input[type=text] {
    font-size: 1.125rem;
    height: 2.25rem;
    margin: 0;
}

.entry-answer {
    height: 2.25rem;
    font-size: 1.125rem;
}
